@import "bootstrap/dist/css/bootstrap.min.css";

/* Tus estilos personalizados */
body {
    background-color: #f8f9fa;
    font-family: "Segoe UI", sans-serif;
}

.navbar {
    margin-bottom: 2rem;
    .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

}
